* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color:white;
    --main-color:pink;
    --bg-color:red;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    align-items: center;
    justify-content: center;
    
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 22rem;
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -22rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 1.5s;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
   
}

.logo::before {
    animation: homeCursorText 6s linear infinite;
    animation-delay: 1.5s;
}


.navbar {
    position: absolute;
    top:0;
    right: 0;
    display: flex;
}

.navbar a {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    color: transparent;
    -webkit-text-stroke: .5px var(--text-color);
    font-size: 1.5rem;
    transition: .5s;
}

.navbar a:hover {
    -webkit-text-stroke: .7px var(--main-color);
    color: transparent;
}

.home-content {
    text-align: center;
}

.home-content h1 {
    color: var(--text-color);
    font-size: 4rem;
    margin-bottom: 20px;
    transition: .5s;
}

.home-content h1:hover{
    -webkit-text-stroke: 2px var(--main-color);
    color: transparent;
}

.home-content a {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .5px var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    border: 2px solid var(--text-color);
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 20px;
    background: transparent;
    z-index: 1;
    transition: .5s;
    overflow: hidden;
}

.home-content a:hover {
    color: var(--text-color);
}


.home-content a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}


.home-content a:hover::before {
    width: 100%;
}

.back-video {
    position: absolute;
    right: 0;
    z-index: -1;
}


/*about css*/
.header {
    position: relative;
    background: var(--text-color);
}

section {
    min-height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--text-color);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
}

.about-img {
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--text-color);
    border-bottom: .2rem solid var(--text-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}


@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height:100%;
    }
}

/* KEYFRAMES ANIMATION */
@keyframes homeBgText {
    0%,10%,100% {
        background-position: -22rem 0;
    }
    65%,85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {
    0%,10%,100% {
        width: 0;
    }
    65%,78%,85% {
        width: 100%;
        opacity: 1;
    }

    75%,81% {
        opacity: 0;
    }
}


@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}